/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    height: 600px;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.form-section {
    flex: 1;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.input-group,
.radio-group,
.checkbox-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
label {
    width: 100%;
}

.radio-group,
.checkbox-group {
    display: flex;
    align-items: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

@media screen and (max-width: 600px) {
    .form-section {
        flex: 0 0 100%;
    }
}
