body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color:rgb(182, 178, 178);
    margin: 0;
}
table {
    border-collapse: collapse;
    width: 900px;
    margin-top: 20px;
}

th, td {
    border: 1px solid #e9aeae;
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(244, 238, 226);
    color: black;
}

td {
    background-color:rgb(241, 241, 201);
}

.icon-cell {
    text-align: center;
}
caption{
    margin:10px;
    font-size: 20px;
}